@font-face {
  font-family: "Raleway";
  src: url("../assets/Fonts/Raleway-VariableFont_wght.ttf");
}

/* ============ variables =======================*/
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
}

/* ============ reglages =======================*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  max-width: 1440px;
  margin: 0 auto;
}

header,
section,
footer {
  padding: 0 12px;
}
a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 20px;
}

input,
label,
button {
  font-weight: bold;
}

/* ============ HEADER =======================*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  transform: scale(0.5);
}
/* ------------- nav --------------- */
nav {
  align-self: flex-start;
}

nav a {
  display: inline-block;
  width: 163px;
  padding-top: 18px;
  text-align: center;
  transition: 0.2s;
}

nav a:hover {
  border-top: solid var(--blue) 2px;
  color: var(--blue);
}

/* ============ SECTION RECHERCHE =======================*/
/* ------------- recherche --------------- */
.recherche {
  height: 50px;
  position: relative;
}

.fa-location-dot {
  display: inline-block;
  height: 100%;
  width: 50px;
  border-radius: 15px 0 0 15px;
  font-size: 24px;
  line-height: 50px;
  

  background-color: var(--grey);
  position: absolute;
  text-align: center;
}
.recherche input {
  height: 100%;
  position: absolute;
  left: 50px;
  border: solid 1px var(--grey);
}
.recherche button,
.fa-magnifying-glass {
  height: 100%;
  border-radius: 0 15px 15px 0;
  position: absolute;
  left: 237px;
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 18px;
  transition: 0.2s ease-in-out;
}
.recherche button .fa-solid,
.fa-magnifying-glass {
  left: 0px;
  top: 0px;
  display: none;
}

.recherche button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ------------- filtres --------------- */

.div-filtres {
  display: flex;
  margin: 32px 0;
  flex-wrap: wrap;
}
.div-filtres p {
  font-weight: bold;
  padding-right: 20px;
}
.filtres {
  display: flex;
  flex-wrap: wrap;
}
.bouton-filtre {
  display: flex;
  align-content: center;
}

.bouton-filtre p {
  height: 50px;
  border: solid 2px var(--grey);
  border-radius: 25px;
  padding-left: 50px;
  margin-left: -40px;
  margin-top: 0;
  margin-right: 10px;
  line-height: 50px;
  z-index: -1;
  transition: 0.3s;
}

.bouton-filtre i {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--light-blue);
  text-align: center;
  line-height: 50px;
}

/* test bouton .checkbox */

.checkbox {
margin-bottom: 1rem;
}

.checkbox input {
  display: none;
  color: black;
}


.checkbox input:checked + label span{
  color: var(--blue);
  /* background-color: var(--grey); */
  border: solid 1px var(--blue);
}
.checkbox input:hover + label {
  color: var(--blue);
}
.checkbox label {
  position: relative;
}
.checkbox label i {
  position: absolute;
  display: inline-block;
  color: var(--blue);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--light-blue);
  text-align: center;
  line-height: 50px;
  z-index: +1;
  left: -1px;
}

.checkbox label span {
  display: inline-block;
  /* position: absolute; */
  height: 50px;
  border: solid 2px var(--grey);
  border-radius: 25px;
  padding-left: 60px;
  padding-right: 15px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 0px;
  line-height: 50px;
  /* z-index: -1; */
  transition: 0.2s;
}
.bouton-filtre:hover {
  font-size: larger;
  cursor: pointer;
}

/* ------------- info --------------- */
.info {
  display: flex;
}
.info i {
  height: 25px;
  width: 25px;
  font-size: 15px;
  color: var(--blue);
  border: solid 4px var(--grey);
  border-radius: 50%;
  text-align: center;
}

.info p {
  margin-top: 0px;
  margin-left: 20px;
}

/* ============ HEBERGEMENTS =======================*/

.div-hebergements {
  display: flex;
  flex-wrap: wrap;
}

.hebergements {
  background-color: var(--grey);
  padding: 15px;
  
  
}
/* ------------- cards hebergement ---------- */
.h-cards {
  display: flex;
  flex-wrap: wrap;
  
}
.h-card {
  width: 250px;
  background-color: white;
  padding: 5px;
  border: solid 1px var(--grey);
  border-radius: 15px;
}
.h-card-img {
  height: 115px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

/* ------------- cards hebergement ---------- */

.p-card {
  display: flex;
  width: 344px;
  background-color: white;
  padding: 5px;
  border: solid 1px var(--grey);
  border-radius: 15px;
}
.p-card-img {
  width: 127px;
  height: 133px;
  object-fit:contain;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  margin-right: 10px;
  
}
.p-card-img img {
  max-height: 100%;
  width: auto;
}
.p-card-content h3{
  margin-top: 0;
  /* font-size: ; */
}
/* ------------- gestion des etoiles ---------- */
.stars {
  color: var(--blue);
}

.no-four-stars span:last-child {
  color: var(--grey);
}

.no-three-stars span:nth-child(4) {
  color: var(--grey);
}

/* ============ MEDIA QUERIES =======================*/

/* ============ MOBILE < 768px  =======================*/

@media screen and (max-width: 768px) {
  .header {
    display: block;
    padding: 0;
  }
  .logo {
    text-align: center;
  }
  nav a {
    width: 50%;
    padding-top: 0;
    padding-bottom: 12px;
  }
  nav a:hover {
    border-bottom: solid var(--blue) 2px;
    border-top: none;
  }
  .recherche button span {
    display: none;
  }
  .recherche button .fa-solid {
    display: in;
  }

  .recherche button .fa-solid,
  .fa-magnifying-glass {
    display: inline-block;
  }
}


