@font-face {
  font-family: "Raleway";
  src: url("../assets/Fonts/Raleway-VariableFont_wght.ttf");
}

/* ============ variables =======================*/

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
  --box-shadow: 0 5px 10px rgb(194, 192, 192);
  --gap: 32px;
}

/* ============ reglages =======================*/

* {
  box-sizing: border-box;
}

main {
  padding: 0 56px;
}

body {
  font-family: "Raleway", serif;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
i {
  font-size: 20px;
  font-weight: bolder;
}
p {
  font-size: 16px;
}

h3,
input,
label,
button {
  font-weight: bolder;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

/* ============ HEADER =======================*/

header {
  padding-left: 56px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 15px 0;
}

header img {
  height: 36px;
  padding-left: 15px;
}

/* ------------- nav --------------- */

nav {
  align-self: flex-start;
  margin-right: 22px;
}

nav a {
  display: inline-block;
  color: black;
  width: 163px;
  padding-top: 18px;

  text-align: center;
  transition: 0.2s;
}

nav a:hover {
  border-top: solid var(--blue) 2px;
  color: var(--blue);
}

/* ============ Div Form -  Formulaire de recherche =======================*/

.form {
  margin-bottom: 32px;
}
/* ------------- recherche --------------- */
.recherche-flex label i {
  width: 50px;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-color: var(--grey);
  text-align: center;
  line-height: 50px;
}

.recherche-flex input {
  max-width: 220px;
  height: 100%;
  border: solid 1px var(--grey);
  padding-left: 10px;
}

.recherche-flex {
  display: flex;
  height: 50px;
}

.submit {
  height: 100%;
  position: relative;
}

.submit button,
.submit i {
  height: 50px;
  border-radius: 0 15px 15px 0;
  background-color: var(--blue);
  border: none;
  color: white;
  padding: 0 18px;
  line-height: 50px;
  transition: 0.2s ease-in-out;
}

.submit i {
  position: absolute;
  left: -15px;
  top: 0px;
  border-radius: 15px;
  display: none;
}

.recherche-flex button:hover {
  cursor: pointer;
}

/* ------------- filtres --------------- */

.div-filtres {
  display: flex;
  margin: 32px 0;
  padding: 0;
  flex-wrap: wrap;
}

.div-filtres p {
  font-weight: bold;
  padding-right: 20px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
}

/* ----------- filtres de type  .checkbox ----------- */

.checkbox {
  margin-bottom: 1rem;
}

.checkbox input {
  display: none;
  color: black;
}

.checkbox input:checked + label span {
  border: solid 1px var(--blue);
}

.checkbox input:hover + label {
  color: var(--blue);
}

.checkbox label {
  position: relative;
}

.checkbox label i {
  position: absolute;
  display: inline-block;
  color: var(--blue);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--light-blue);
  text-align: center;
  line-height: 50px;
  z-index: +1;
  left: -1px;
}

.checkbox label span {
  display: inline-block;
  height: 50px;
  border: solid 2px var(--grey);
  border-radius: 25px;
  padding-left: 60px;
  padding-right: 15px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 0px;
  line-height: 45px;
  transition: 0.2s;
}


/* ------------- champ info --------------- */

.info {
  display: flex;
  align-content: center;
}

.info i {
  height: 25px;
  width: 25px;
  font-size: 13px;
  line-height: 20px;
  color: var(--blue);
  border: solid 2px var(--grey);
  border-radius: 50%;
  text-align: center;
}

.info span {
  margin: 0;
  padding-left: 20px;
  vertical-align: middle;
  line-height: 25px;
}

/* ============ HEBERGEMENTS =======================*/

section,
aside {
  margin-bottom: 32px;
  border-radius: 20px;
}
.div-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements,
.populaires {
  background-color: var(--grey);
  padding: 32px;
}
.h-card,
.p-card {
  margin-bottom: 32px;
}
.p-card:last-child {
  margin-bottom: 0;
}
.afficher-plus {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;

}
/* ------------- cards hebergement (h) ---------- */

.hebergements {
  max-width: 865px;
}

.h-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  justify-content: space-between;
}

.h-card {
  width: 250px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.h-card-img {
  height: 115px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.h-card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h-card-content {
  padding-left: 10px;
}
.h-card-content h3,
.h-card-content p {
  margin-bottom: 0;
  margin-top: 10px;
}
/* ------------- cards hebergement populaires (p)---------- */
aside {
  position: relative;
  order: 2;
}

aside::after {
  content: "\f005";
  font: var(--fa-font-solid);
  font-size: 25px;
  position: absolute;
  top: 42px;
  right: 42px;
}
.p-card {
  display: flex;
  width: 344px;
  background-color: white;
  padding: 5px;
  box-shadow: var(--box-shadow);
  border: solid 1px var(--grey);
  border-radius: 15px;
}

.p-card-img {
  width: 127px;
  height: 133px;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  position: relative;

  flex-shrink: 0;
}

.p-card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paysage {
  width: 100%;
}

.portrait {
  height: 100%;
}
.portrait-paysage {
  height: 100%;
}
.p-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 13px 22px 9px 22px;
  margin-bottom: 9px;
}

.p-card-content h3 {
  margin-top: 0;
}

/* ------------- gestion des etoiles ---------- */
.h-card i,
.p-card i {
  font-size: 13px;
  margin-top: 10px;
}
.stars {
  color: var(--blue);
}

.no-four-stars span:last-child {
  color: var(--grey);
}

.no-three-stars span:nth-child(4) {
  color: var(--grey);
}

/* ------------- cards activités (a) ---------- */

.card-activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.a-card-zone {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}
.a-card {
  width: 300px;
  height: fit-content;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a-card-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.a-card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.a-card h3 {
  height: 60px;
  margin: 0 0 0 10px;
  line-height: 60px;

  border-radius: 0 0 15px 15px;
}

/* ------------- gestion des tailles des images ---------- */
.card-img-small {
  height: 110px;
}
.card-img-medium {
  height: 138px;
}

.card-img-long {
  height: 180px;
}
.card-img-XL {
  height: 390px;
}
.card-img-XXL {
  height: 390px;
}
/* ------------- gestion des hover sur les cards ---------- */
.h-card:hover,
.a-card:hover,
.p-card:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}
/* ============ FOOTER =======================*/

footer {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 32px 32px 52px;
}

.footer {
  width: calc(100% / 3);
  min-width: 240px;
}

footer a {
  color: black;
  line-height: 2em;
}
footer h2 {
  margin-top: 0;
}

/* ============ MEDIA QUERIES =======================*/

/* ============ Breakpoint 1  <= 992px  =======================*/

@media screen and (max-width: 992px) {
  /* ------------- taille des polices -------------- */
  h1,
  h2,
  i {
    font-size: 22px;
    font-weight: bolder;
  }
  p {
    font-size: 17px;
  }

  h3,
  input,
  label,
  button {
    font-weight: bolder;
    font-size: 17px;
  }
  /* ------------- adaptation du aside (populaire) idem mobile -------------- */
  .div-hebergements {
    display: block;
  }
  .p-card {
    width: 100%;
    height: 160px;
  }
  .p-card-img {
    width: 127px;
    height: 150px;
  }
  aside::after {
    top: 35px;
    right: 30px;
  }
  /* ------------- adaptation des marges et paddings -------------- */
  .hebergements,
  .populaires {
    padding: 15px 3%;
    margin-bottom: 15px;
  }
    /* ------------- adaptation des cards -------------- */
    .p-card,
    .h-card {
      margin-bottom: 10px;
    }
}
/* ============ MOBILE <= 768px  =======================*/

@media screen and (max-width: 768px) {
  /* ------------- taille des polices -------------- */
  h1,
  h2,
  i {
    font-size: 24px;
    font-weight: bolder;
  }
  p {
    font-size: 18px;
  }

  h3,
  input,
  label,
  button {
    font-weight: bolder;
    font-size: 18px;
  }
  /* ------------- gestion des blocks -------------- */
  main,
  header {
    padding: 0 1%;
  }
  /* ------------- adaptation du header -------------- */
  .header {
    display: block;
    padding: 0;
  }

  .logo {
    text-align: center;
  }

  nav a {
    width: 50%;
    padding-top: 0;
    padding-bottom: 12px;
  }

  nav a:hover {
    border-bottom: solid var(--blue) 2px;
    border-top: none;
  }
  h1 {
    margin-top: 40px;
  }
  .form {
    margin-top: 40px;
  }
  .recherche button span {
    display: none;
  }

  .recherche-flex button span {
    display: none;
  }

  .submit .fa-solid,
  .fa-magnifying-glass {
    display: inline-block;
  }
  .div-filtres {
    margin: 40px 0;
  }
  /* ------------- gestion des blocs -------------- */
  .hebergements,
  .card-activites,
  .footer,
  .h-cards,
  .a-card,
  .a-card-zone {
    display: block;
  }
  .hebergements,
  .populaires {
    padding: 25px 1%;
    margin: 0;
  }
  .hebergements {
    background-color: white;
  }
  aside::after {
    top: 42px;
    right: 2px;
  }
  /* ------------- adaptation des cards -------------- */
  .a-card-zone {
    height: auto;
    margin: 0;
  }
  .a-card {
    margin-bottom: 15px;
    margin-top: 0;
  }

  .h-cards,
  .hebergements,
  .p-card,
  .h-card,
  .a-card-zone,
  .a-card {
    width: 100%;
  }
  .h-card-img,
  .card-img-XXL,
  .card-img-XL,
  .card-img-long,
  .card-img-medium,
  .card-img-small {
    height: 125px;
  }
  .portrait-paysage {
    width: 100%;
    height: auto;
  }
}
